BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
SpacesInParentheses: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SortIncludes: false
PointerAlignment: Left
DerivePointerAlignment: false
Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: true
