[submodule "external/simpleini"]
	path = external/simpleini
	url = https://github.com/brofield/simpleini
[submodule "external/unordered_dense"]
	path = external/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "external/xess"]
	path = external/xess
	url = https://github.com/intel/xess.git
[submodule "external/vulkan"]
	path = external/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git